# Compiler files
cache/
out/
broadcast/
bytecode-coverage/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Solhint configuration
.solhint.json
package-lock.json
package.json

# Node
node_modules/

